<library path="src">
  <class name="HEROX Dashboard" type="rqt_herox_dashboard.dashboard.HeroxDashboard" base_class_type="rqt_gui_py::Plugin">
    <description>
      A Python GUI dashboard plugin the HEROX AMR.
    </description>
    <qtgui>
      <group>
        <label>Robot</label>
        <icon type="theme">folder</icon>
        <statustip>Plugins related to specific robots.</statustip>
      </group>
      <group>
        <label>HEROX</label>
        <icon type="theme">folder</icon>
        <statustip>Plugins related to the HEROX AMR.</statustip>
      </group>
      <label>HEROX Dashboard</label>
      <icon type="theme">task-past-due</icon>
      <statustip>A Python GUI dashboard plugin the HEROX AMR.</statustip>
    </qtgui>
  </class>
</library>
